@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #111;
  width: 100%;
}

.contain{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
}

.ring {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.login {
  position: absolute;
  width: 60%;
  height: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.login h3 {
  font-size: 2em;
  color: #fff;
}
.login .inputBx {
  position: relative;
  width: 100%;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}
.login .inputBx input[type="submit"] {
  width: 100%;
  background: #0078ff;
  background: linear-gradient(45deg, #ff357a, #fff172);
  border: none;
  cursor: pointer;
}
.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #fff;
  text-decoration: none;
}
.login .links p {
    color: #fff;
    text-decoration: none;
  }


  /*css for user_page*/

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
  }

  #user_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  #user_infos {
    display: none;
    position: absolute;
    top: 70px;
    right: 10px;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
  }

  #connect_as_driver {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  #logout {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  #upper_part {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }

  #search_form {
    width: 40%;
    border: 1px solid white;
    padding: 10px;
    color: white;
  }

  #search_form input {
    width: 70%;
    margin: 5px;
  }

  #search_form button {
    width: 20%;
    margin: 5px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }

  #trajets {
    width: 50%;
    border: 1px solid white;
    color: white;
    padding: 10px;
    overflow-y: scroll;
    height: 300px;
  }

  #trajets table {
    width: 100%;
    border-collapse: collapse;
  }

  #trajets th, td {
    border: 1px solid white;
    padding: 5px;
    text-align: center;
  }

  .map{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    border: 1px solid white;
    padding: 10px;
    color: white;
  }

  #map {
    width: 100%;
    height: 450px;
    border: 1px solid white;
  }

